/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&display=swap');

html,
body {
    height: 100%;
}

/* body styling */
body {
    background: url("../media/images/common-background-jo-on-beach-guitar.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(237, 245, 245, 0.4);
    display: flex;
    flex-direction: column;
}

.wedding-body {
    background: url("../media/images/weddings-background-couple.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(237, 245, 245, 0.4);
}

/* Common header and footer styling */
.header-container,
.footer-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: auto;
}

.footer-container {
    max-height: 200px;
}

.header, 
.footer {
    width: 100%;
    background-color: rgba(182, 218, 218, 0.8);
    backdrop-filter: blur(1px);
    padding: 1%;
    border-radius: 10px;
    margin: 3%;
    box-shadow: 0px 0px 20px 1px rgba(51, 102, 102, 0.9);
}

/* logo styling */
.logo {
    display: flex;
    justify-content: center;
    background-color: rgba(170, 202, 202, 1);
    box-shadow: 0px 0px 20px 1px rgba(51, 102, 102, 0.4);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.logo h1,
.logo h2 {
    color: rgb(0, 58, 58);
}

/* "Great Vibes" font is served by google fonts https://fonts.google.com/about" */
.logo h1 {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

.logo h2 {
    font-family: "Times New Roman", Times, serif;
    margin-top: 0;
    font-weight: 400;
}

.logo:hover h1,
.logo:hover h2 {
    text-shadow: 0px 0px 20px rgba(51, 102, 102, 1);
}

.logo a {
    text-decoration: none;
    text-align: center;
}

/* nav styling */
nav {
    display: flex;
    align-items: center;
    width: 100%;
}

/* menu styling */
nav ol {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    padding: 1%;
}

.menu li {
    display: flex;
    list-style-type: none;
}

.menu li a {
    font-family: Arial, Lato, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0.3em;
    border: 1px solid rgba(51, 102, 102, 0.4);
    background-color: rgb(158, 192, 192);
    border-radius: 10px;
    margin: 0.5em;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 58, 58);
    box-shadow: none;
    width: 7rem;
}

.menu li a:hover {
    border: 1px solid rgba(51, 102, 102, 1);
    background-color: rgb(133, 165, 165);
    box-shadow: 0px 0px 5px 1px rgb(33, 66, 66);
}

.menu .active {
    border: 1px solid rgba(51, 102, 102, 1);
    background-color: rgb(133, 165, 165);
    box-shadow: 0px 0px 5px 1px rgb(33, 66, 66);
    border-radius: 10px;
}

.section-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 3%;
}

.bio-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;
}

.bio-gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 10px;
}

.sub-container {
    width: 80%;
    text-align: center;
    font-size: large;
    font-weight: 400;
    background-color: rgba(206, 224, 224, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 3px;
}

.container-header {
    margin-bottom: 0;
}

.sub-container-header {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* "Great Vibes" font is served by google fonts https://fonts.google.com/about" */
.sub-container-header h2 {
    color: rgb(0, 58, 58);
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

/* Lato font is served by google fonts https://fonts.google.com/about" */
.sub-container p {
    font-family: Arial, Lato, Helvetica, sans-serif;
    max-width: 700px;
    color: rgb(0, 58, 58);
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* gig section styling */
.main-gig-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 3%;
}

.gig-container {
    list-style-type: none;
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    padding-inline-start: 0;
    margin-bottom: 0;
}

.gig-container a {
    text-decoration: none;
}

.gig-header {
    margin-bottom: 0;
}

/* Lato font is served by google fonts https://fonts.google.com/about" */
.gigs {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 142px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
    background-color: rgba(206, 224, 224, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    font-family: Arial, Lato, Helvetica, sans-serif;
    padding: 1rem;
}

.gigs div {
    margin: 0;
    font-size: large;
    font-weight: bold;
    color: rgb(0, 58, 58);
}

.gigs span {
    color: rgb(0, 58, 58);
}

.gig-venue {
    font-weight: bold;
    text-decoration: underline;
}

.gig-town {
    font-style: italic;
}

.gigs:hover {
    border: 1px solid rgba(51, 102, 102, 1);
    box-shadow: 0px 0px 5px 1px rgb(33, 66, 66);
    background-color: rgba(206, 224, 224, 0.9);
    backdrop-filter: blur(3px);
}

/* newsletter and contact section styling */
.newsletter-email-input,
.contact-input {
    margin-right: 1%;
    border-radius: 10px;
    width: 20rem;
    height: 2rem;
    text-align: center;
    border: 1px solid rgba(51, 102, 102, 0.4);
    outline: none;
}

.newsletter-email-input {
    width: 15rem;
    color: rgb(0, 58, 58);
    font-size: large;
}

.contact-label {
    margin-bottom: 0.5rem;
}

.contact-input {
    margin-bottom: 1rem;
}

.newsletter-email-input:hover,
.newsletter-email-input:focus,
.contact-input:hover,
.contact-input:focus {
    border: 1px solid rgba(51, 102, 102, 1);
    box-shadow: 0px 0px 5px 1px rgb(33, 66, 66);
}

/* Lato font is served by google fonts https://fonts.google.com/about" */
.newsletter-submit-button,
.contact-submit-button {
    font-family: Arial, Lato, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0.3em;
    border: 1px solid rgba(51, 102, 102, 0.4);
    background-color: rgb(158, 192, 192);
    border-radius: 10px;
    margin: 0.5em;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 58, 58);
    box-shadow: none;
    width: 7rem;
}

.contact-submit-button {
    width: 9rem;
    height: 2rem;
}

.newsletter-submit-button:hover,
.contact-submit-button:hover {
    border: 1px solid rgba(51, 102, 102, 1);
    background-color: rgb(133, 165, 165);
    box-shadow: 0px 0px 5px 1px rgb(33, 66, 66);
}

.contact-sub-container {
    width: auto;
}

/* footer styling */
footer {
    margin-top: auto;
}

/* Footer social media styling */
.footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
}

.social-media-anchor {
    width: 3rem;
    padding: 3%
}

.social-media-icon {
    width: 100%;
    padding: 10%;
    border-radius: 10px;
}

.social-media-icon:hover {
    box-shadow: 0px 0px 5px 1px rgb(33, 66, 66);
}

/* wedding content styling */
.wedding-gallery-container {	
    display: flex;	
    justify-content: center;	
    flex-wrap: wrap;	
    column-gap: 10px;	
    row-gap: 10px;	
    width: 80%;
}

.wedding-gallery-item,
.gallery-item {
    max-width: 250px;
    max-height: 250px;
    background-color: rgba(206, 224, 224, 0.7);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    padding: 10px;
}

.wedding-gallery {
    border-radius: 10px;
    height: 100%;
}

.wedding-gallery video {
    object-fit: fill;
}

/* gallery content styling */
.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 80%;
}

.gallery {
    border-radius: 10px;
    height: 100%;
}

.gallery video {
    object-fit: fill;
}

/* Form label styling */
/* Lato font is served by google fonts https://fonts.google.com/about" */
label {
    color: rgb(0, 58, 58);
    font-weight: bold;
    font-family: Arial, Lato, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.contact-form-container h2 {
    padding-bottom: 15px;
}

/* Lato font is served by google fonts https://fonts.google.com/about" */
.contact-input {
    font-size: large;
    font-family: Arial, Lato, Helvetica, sans-serif;
    margin-right: 0;
    color: rgb(0, 58, 58);
}

.subject-input {
    color: rgb(0, 58, 58);
    padding: 1px 2px;
}

.message-input {
    resize: none;
    height: 10rem;
    color: rgb(0, 58, 58);
}

/* In text anchor link styling */
.in-text-link {
    font-weight: bold;
    color: rgb(0, 58, 58);
}

.in-text-link:hover {
    text-shadow: 0px 0px 20px rgba(51, 102, 102, 1);
}

/* Media queries */

/* For medium screen sizes 640px and up */
@media screen and (min-width: 640px){

    .logo h1 {
        font-size: 4rem;
    }

}

/* For larger screen sizes 1100px and up */
@media screen and (min-width: 1100px){

/* Common header and footer styling */
    .header-container,
    .footer-container {
        display: flex;
        justify-content: center;
        align-content: center;
        height: auto;
    }

    .footer-container {
        max-height: none;
    }

    .header, 
    .footer {
        display: flex;
        width: 100%;
        background-color: rgba(182, 218, 218, 0.8);
        padding: 1%;
        border-radius: 10px;
        margin: 3%;
        box-shadow: 0px 0px 20px 1px rgba(51, 102, 102, 0.9);
    }

    nav ol {
        justify-content: flex-end;
    }

    .logo {
        float: left;
        width: fit-content;
    }

    .logo h1 {
        font-size: 4rem;
        text-align: center;
    }
    
    .logo h2 {
        text-align: center;
    }

    .contact-sub-container {
        width: 40%;
    }

    .newsletter-email-input {
        width: 25rem;
    }
}