/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Header styling */
header {
    width: 100%;
    background-color: rgba(182, 218, 218, .4);
}

#logo {
    width: fit-content;
}

#logo a {
    text-decoration: none;
    text-align: center;
    color: black;
}

#logo h1 {
    font-family: Great Vibes, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

#logo h2 {
    margin-top: 0;
}

/* Footer social media styling */
footer {
    background-color: rgba(182, 218, 218, .4);
    display: flex;
    justify-content: center;
}

.social-media-icon {
    height: 5%;
    width: 5%;
    padding: 1%;
}

/* For larger screen sizes 400px and up */
@media screen and (min-width: 400px){
    #logo h1 {
        text-align: left;
    }
    
    #logo h2 {
        text-align: center;
    }
}